/* ==========================================================================
	Page Styles
============================================================================= */

	.page {
		outline: none;
	}


	/* Master Page Template
	============================================================================= */

	/* Page Header */

	.page-header {

		h1 {

		}
	}

	/* Content Wrapper | Main Content + Sidebar */

	.content-wrapper {
		
	}


	/* Main Content Area | Usually WYSIWYG */

	.content-main {

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	/* Sidebar */

	.content-sidebar {
		
	}

	.content-main,
	.content-sidebar {

	}
